<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Deep Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'deep', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'deep', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
